@import "mixins";
@import "buttons";

body{
	font-family: 'Open Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: 'Icons';
	src: url('font/icomoon.eot'); /* IE9 Compat Modes */
	src: url('font/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('font/icomoon.woff') format('woff'), /* Modern Browsers */
	     url('font/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('font/icomoon.svg') format('svg'); /* Legacy iOS */
}
#header{
	top:0;
	z-index:2;
	height:2.5em;
	width:100%;
	/*background-color:white;
	background-color: rgba(555, 555, 555, 0.8);*/
	position:absolute;
	display:flex;
	justify-content:space-between;
}
.addMarker{
    position:absolute;
    bottom:0;
    right:0;
    z-index:3;
}
#header h1{
	display: inline-block;
	font-weight:normal;
}
#map-canvas{
	height:100%;
	z-index: 0;
	border: 1px solid black;
	width:100%;
	position:absolute;
}
#button_aalsmeer, #menu{
	box-sizing:border-box;

	padding:5px;
	background-color:#e74c3c;
	display:inline-block;
	color:white;
}
#menu{
	width:10em;
}
section#info{
	position:absolute;
	display:none;
	
	width:100%;
	bottom:0;
	border-radius:2px;
	padding:10px;
	color:black;
	font-size:120%;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 3px 5px 5px 5px rgba(2, 2, 2, 0.6);
	//background-color: rgba(555, 555, 555, 0.8);
    background: rgba(255,255,255, 0.8); 
	z-index: 5;
	box-sizing: border-box;
}
#routeKnop span:after{
	content:" ";
}
#button_aalsmeer p:after{
	font-family:"Icons" ;
	content:"\e600" ;
	font-size:150%;

}	
.addMarker{
    background-color:#f7f7f7;
    padding:10px;
}